.App-logo {
  height: 40px;
  margin-right: 10px;
}

.brand-container {
  align-items: center;
  display: flex;
  font-size: 1.7rem;
}

.page-footer {
  padding-top: 0;
}

.plain-link {
  color: white;
  text-decoration: none; /* no underline */
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
